body{
	background-image:url(logo.JPG);
	background-color:black;
	background-repeat:no-repeat;
	background-position: 100px 0px;
}

a:link{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 80px;
	font-style: normal;
	font-variant: normal;
	font-weight: 350;
	line-height: 50.4px;
	color:white;
	text-shadow: 2px 2px 2px;
	text-decoration: none;
	margin-left: 350px;

}
a:visited{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 80px;
	font-style: normal;
	font-variant: normal;
	font-weight: 350;
	line-height: 10.4px;
	color:purple;
	text-shadow: 2px 2px;
	text-decoration: none;
	margin-top: 50px;
	margin-left: 350px;

}