@font-face {
    font-family: 'echoes_font';
    src: url("../fonts/font.ttf") ;
}
#top {
    font-family: "echoes_font";
    font-size: 800%;
    text-align: center;
    margin-top: 50px;
}
/*body{
    background: url('imgs/tree.png')no-repeat center fixed;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.bg-features{
    background: rgba(227, 227, 227, 0.6);
}